doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js")
        script(src="/javascripts/graph.js")
        script(src="https://code.jquery.com/jquery-3.2.1.js"
        integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
        crossorigin="anonymous")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.12.2/d3.js")
        script(src="/d3/d3.js")
    body
        block content
